body {
    transform: scale(1);
    transform-origin: 0% 0%;
    color: #ff8;
    background-color: #236;
    font-size: small;
    width: 600px;
    overflow: hidden;
}

.container {
    width: 600px;
    overflow: hidden;
    padding: 5px;
}

.noselect {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.top-row {
    text-align: justify;
}

.top-row:after {
    display:inline-block;
    width:100%;
    content:'';
}

.top-button {
    display: inline-block;
    width: 100px;
    height: 70px;
    border-radius: 10px;
    background: #888;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
    cursor: pointer;
}

.top-button .area {
    position: relative;
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}

.top-button p {
    display: table-cell;
    vertical-align: middle;
}

.table th {
    text-align: center;
}

.camera {
    padding: 0px 10px 0px 0px;
}
.weather {
    padding: 0px 0px 0px 10px;
}

.camera>div, .weather>div {
    border: 1px solid #aaa;
    padding: 15px;
    border-radius: 10px;
    height: 270px;
    text-align: center;
}

#journal, #sensors {
    display: none;
    background: white;
    color: #333;
}

.camera img {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.weather .time {
    height: 90px;
    line-height: 40px;
    font-size: 145%;
    color: #fff;
}

.full-width {
    width: 100%;
}

.red-green {
    background: #e00;
}

.red-green.active {
    background: #0b0;
}

.grey-orange.active {
    background: #fb3;
}

.active .off {
    display: none;
}

.on {
    display: none;
}

.active .on {
    display: initial;
}

#keyboard-modal, #alert-modal {
    overflow-y: hidden;
}

#keyboard-modal .modal-dialog {
    width: 300px;
}

#keyboard-modal .modal-content {
    background: #333;
}

#kbd-screen {
    text-align: center;
    font-size: 250%;
    letter-spacing: 20px;
    border-radius: 10px;
    background: black;
    margin-top: 10px;
    color: #0f0;
    padding-left: 20px;
    padding-right: 0px;
}

.kbd-row {
    font-size: 230%;
    text-align: center;
}

.kbd-row span {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #860;
    display: inline-block;
    width: 60px;
    border-radius: 10px;
    cursor: pointer;
}

.kbd-c span {
    background: #e00;
}

.kbd-ok span {
    background: #0b0;
}

#alert-modal {
    text-align: center;
    font-size: 200%;
}

#alert-modal .modal-dialog {
    width: 300px;
}

#alert-modal .modal-content {
    color: red;
    font-weight: bold;
    padding: 20px;
}
